body {
    padding-top: 80px;
    font-family: sans-serif;
    color: #666;
    padding-bottom: 100px;
}

h1,h2,h3,h4,h5,h6 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.navbar-brand {
    background-image: url('../img/logo.png');
    background-repeat: no-repeat;
    background-position: 0px -4px;
    width: 150px;
}

.alert-resolution {
    background-color: #fff;
    border: solid 3px green;
}

.tag-list {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.tag-list li {
    display: inline-block;
}

.tag-list > li > a {
    text-decoration: none;
    color: #39739d;
    background-color: #E1ECF4;
    border: solid 1px;
    border-color: transparent;
    padding: .4em .5em;
}


.list-attachment {
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}


.panel-comment {
    color: #333;
    font-size: 14px;
    border: 0px;
    box-shadow: none;
    border-bottom: dashed 1px #e7e7e7;
}

.panel-comment > .panel-heading {
    background-color: #fff;
    border: 0px;
    padding: 5px;
}

.panel-comment > .panel-body {
    padding: 5px;
}


.panel-comment > .panel-footer {
    background-color: #fff;
    border: 0px;
    border-top: solid 1px #e7e7e7;
}

.panel-comment > .panel-heading > .panel-title {
    font-size: 14px;
}

.progress {
    margin-bottom: 3px;
    font-style: italic;
}

.file-line {
    margin-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

.demo-panel-files {
    padding: 0px;
}

.label {
    border-radius: 0px;
    font-size: 100%;
}

.form-control {
    border-radius: 0px;
}

.panel {
    border-radius: 0px;
}

.btn {
    border-radius: 0px;
}

.note-editor .note-frame {
    border: 0px solid #a9a9a9 !important;
}

.note-editor {
    border: 0px !important;
    margin-bottom: 0px;
}

.note-statusbar {
    /*0display: none;*/
}

.action-bar {
    margin-bottom: 20px;
}

.answer-container {
    background-color: #63bbb2 !important;
    color: #fff;
}

.panel.noborder {
    padding: 0px;
    margin: 0px;
    border: none;
    box-shadow: none;
}

.panel.noborder > .panel-heading {
    border: none;
    box-shadow: none;
    border-radius: 0;
}

.page-header {
    padding-bottom: 10.5px;
    margin: 7px 0 23px;
    border-bottom: 1px solid #eeeeee;
}

h1.page-header {
    color: purple;
    font-size: 17px;
}

a:hover, a:focus {
    color: #666;
    text-decoration: underline;
}

.panel-container {
    min-height: 550px;
}

#main-content {
}

#sidebar {
    padding-top: 15px;
    text-align: left;
    height: 100%;
    border-right: solid 1px #e7e7e7;
    cursor: pointer;
    font-weight: 300;
    font-size: 14px;
}

.action-sidebar {
    text-align: center;
}

.nav-pills > li> a {
    border-radius: 0px;
}

.nav-pills>li.active>a, .nav-pills>li.active>a:hover, .nav-pills>li.active>a:focus {
    background: rgba(0,0,0,.2);
}

.nav-stacked>li+li {
    margin-top: 0px;
}

.img-hight-priority {
    display: block;
    float: left;
    margin-right: 15px;
    background-image: url('../img/16/frog.png');
    background-repeat: no-repeat;
    background-position: 0px 0px;
    z-index: 2px;
}


.ticket-row {
    padding: 10px;
    border-bottom: solid 1px #e7e7e7;
}

.ticket-row:hover {
	background-color: #e7e7e7;
}

.list-det {
    color: #767676;
    font-size: 14px;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
}

.list-det li {
    padding: 5px;
    color: #767676;
}

.navbar-default {
    background-color: #5694ce;
    border-color: #AFAEFF;
}
.navbar-default .navbar-brand {
  color: #ecf0f1;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ecdbff;
}
.navbar-default .navbar-text {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a {
  color: #ecf0f1;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ecdbff;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ecdbff;
  background-color: #11105a;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ecdbff;
  background-color: #11105a;
}
.navbar-default .navbar-toggle {
  border-color: #11105a;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #11105a;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ecf0f1;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ecf0f1;
}
.navbar-default .navbar-link {
  color: #ecf0f1;
}
.navbar-default .navbar-link:hover {
  color: #ecdbff;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ecf0f1;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ecdbff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ecdbff;
    background-color: #11105a;
  }
}