{% extends "ticket/layout.html" %} {% block content %} {% load staticfiles i18n %} {% load humanize %}

    <div class="tickets-container">
        <div class="row ticket-row">
            <div class="col-md-2"><strong>Status</strong></div>
            <div class="col-md-4"><strong>Type</strong></div>
            <div class="col-md-2"><strong>Status</strong></div>
            <div class="col-md-2"><strong>Asignado a</strong></div>
            <div class="col-md-2"><strong>Created</strong></div>
        </div>
        {% for t in tickets %}
            <div class="row ticket-row">
                <div class="col-md-2"><span class="label-block label label-{{ t.status.label_class }}">{{ t.status.name }}</span></div>
                <div class="col-md-4">
                    <a href="/tickets/view/{{ t.slug }}/">TICKET-{{ t.id }}</a><br>
                    {{ t.name }}
                </div>
                <div class="col-md-2">{{ t.type.name }}</div>
                <div class="col-md-2">{{ t.created_by.first_name }} {{ t.created_by.last_name }}</div>
                <div class="col-md-2">{{ t.created|naturaltime }}</div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
