{% extends "ticket/layout.html" %} {% block content %} {% load staticfiles i18n %} {% load humanize %} 
<form class="form-horizontal" role="form" method="post">
    {% csrf_token %}
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-content">
                    <div class="row ticket-row">
                        <div class="col-md-1"></div>
                        <div class="col-md-5"><strong>Summary</strong></div>
                        <div class="col-md-2"><strong>Type</strong></div>
                        <div class="col-md-2"><strong>Status</strong></div>
                    </div>
                    {% for ticket in tickets %}
                    <div class="row ticket-row ticket-row-viewed">
                        <div class="col-md-1">
                            <div style="float: left"><img src="{% static "ticket/img/32/avatar.png" %}"></div>
                            <div>
                                {% if ticket.is_priority %} 
                                <div class="icon-16-fire"></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="col-md-5">
                            <a class="ticket-link" href="/tickets/view/{{ ticket.slug }}">{{ ticket.name }}</a>
                            <br>
                            <span class="ticket-opened-by">Created by {{ ticket.created_by.username }} at {{ ticket.created|naturaltime }}</span>
                        </div>
                        <div class="col-md-2">{{ ticket.type.name }}</div>
                        <div class="col-md-2"><span class="label-block label label-{{ ticket.status.label_class }}">{{ ticket.status.name }}</span></div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</form>
{% endblock %}
