{% extends "ticket/layout.html" %} {% block content %} {% load staticfiles i18n %}

<form method="POST">
    
    <div class="action-bar clearfix">
        <div class="pull-left">
            <button type="button" onclick="window.history.back()" class="btn btn-default"><i class="fa fa-chevron-left" aria-hidden="true"></i> Back</button>
        </div>
    </div>


    <h3>{{ action.name }} ticket: {{ ticket.name }}</h3>
    <hr>

    {% csrf_token %}

    {{ form.current_status }}
    {{ form.post_status }}
    {{ form.ticket }}
    {{ form.user }}

    <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Resolution</label>
        <div class="col-sm-5">
            {{ form.comment }}
        </div>
        <span class="generic-error">{{ form.comment.errors.as_text }}</span>
        <div class="clearfix"></div>
    </div>
                    
    <button class="btn btn-primary">SAVE</button>

</form>
{% endblock %}