{% extends "ticket/layout.html" %} {% block content %} {% load staticfiles i18n %}

<form method="POST">
<div class="card">
    
    <span class="card-title">{{ action.name }} {{ ticket.name }}</span>

    <div class="card-content">
        <form method="POST">

            {% csrf_token %}

            {{ form.current_status }}
            {{ form.post_status }}
            {{ form.ticket }}
            {{ form.user }}
        
            <div class="form-group">
                <label for="inputEmail3" class="col-sm-2 control-label">Resolution</label>
                <div class="col-sm-5">
                    {{ form.comment }}
                </div>
                <span class="generic-error">{{ form.comment.errors.as_text }}</span>
                <div class="clearfix"></div>
            </div>
                    
        </form>
    </div>

    <div class="card-action">
        <button class="btn btn-primary">SAVE</button>
        <button class="btn btn-primary">CANCEL</button>
    </div>
</div>
</form>
{% endblock %}